資料處理星座生肖.json
{
  "name": "資料處理星座生肖",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=幫我撰寫星座與生肖\n出生年月日： {{ $json['出身年月日'] }}\n\nrow_number:{{ $json.row_number }}\n\n使用google sheet update tool幫我撰寫。\n輸出繁體中文。",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [704, 16],
      "id": "0904f405-98e5-451d-b236-0324bc030564",
      "name": "AI Agent",
      "alwaysOutputData": false,
      "retryOnFail": false
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [688, 256],
      "id": "c54b9350-b1b7-4f81-be4e-fb799869d2a9",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [480, 0],
      "id": "047b773f-e366-49e4-814d-53cfb1459a01",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1072, 16],
      "id": "a9bbb974-b673-4c2f-babb-d329de4f3448",
      "name": "Wait",
      "webhookId": "cd86a7c8-def6-4185-91f7-022bd272e483"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_SHEET_ID_HER",
          "mode": "id",
          "cachedResultName": "資料分類",
          "cachedResultUrl": ""
        },
        "sheetName": {
          "__rl": true,
          "value": 1365293084,
          "mode": "list",
          "cachedResultName": "個資",
          "cachedResultUrl": ""
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [256, 0],
      "id": "27c5b4cc-4f18-4841-bfd6-8ec5e99d3afb",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SHEET_ID_HERE",
          "mode": "id",
          "cachedResultName": "資料分類",
          "cachedResultUrl": ""
        },
        "sheetName": {
          "__rl": true,
          "value": 1365293084,
          "mode": "list",
          "cachedResultName": "個資",
          "cachedResultUrl": ""
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('row_number__using_to_match_', ``, 'number') }}",
            "Zodiac": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Zodiac', ``, 'string') }}",
            "Chinese Zodiac": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Chinese_Zodiac', ``, 'string') }}"
          },
          "matchingColumns": ["row_number"],
          "schema": [
            {
              "id": "姓名",
              "displayName": "姓名",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "出身年月日",
              "displayName": "出身年月日",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Zodiac",
              "displayName": "Zodiac",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Chinese Zodiac",
              "displayName": "Chinese Zodiac",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [928, 240],
      "id": "2acf2136-88ff-4075-8893-2a0d5d33ab5b",
      "name": "update",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 0],
      "id": "c0ad51ee-ddcc-4e18-a4b4-a22db93be317",
      "name": "When clicking ‘Execute workflow’"
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "7983305b-05b5-49b5-943e-70baea96b572",
  "meta": {
    "instanceId": "5051b5a6e931bc26377d55a46a7dc4c1ad409ab4ed8993f1df5078d5bad0ee24"
  },
  "id": "qZmSzDuJyVFQx8wz9AQDF",
  "tags": []
}
